.yellow {
  background-color: rgb(255, 255, 153);
}

.green {
  background-color: darkseagreen;
}

.red {
  background-color: indianred;
}

.grey {
  background-color: grey;
}

.personal_skill {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 20px;
  padding: 5px;
  text-align: center;
}
