.App {
  text-align: center;
  width: 1006px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.App_header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 200px;
}

.rectangle_1 {
  width: 1006px;
  height: 61px;
  background: #7abcac;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rectangle_2 {
  margin-top: 36px;
  position: absolute;
  width: 586px;
  height: 189px;
  border: 4px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.rectangle_3 {
  position: relative;
  width: 380px;
  height: 28px;
  background-color: rgb(8, 6, 6);
  display: flex;
  justify-content: center;
}

.specialty {
  position: absolute;
  height: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: white;
  top: -24px;
  /* left: 35px; */
}

.info_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 75px;
}

.about_me_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  width: 615px;
}

.skills_container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 75px;
}

.break {
  width: 201px;
  height: 4px;
  background: #dcdcdc;
}

.work_expierence_container {
  margin-top: 10px;
  text-align: left;
}

.work_expierence {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.work_expierence .work_position:last-child {
  padding-left: 20px;
  border-left: 2px solid #dcdcdc;
}

.work_expierence .work_position:first-child {
  padding-right: 20px;
  border-right: 2px solid #dcdcdc;
}

.contact_container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 75px;
}

li {
  list-style: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100vw;
  }

  .App_header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .rectangle_1 {
    height: 61px;
    width: 600px;
    background: #7abcac;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .rectangle_2 {
    margin-top: 36px;
    position: absolute;
    width: 450px;
    height: 189px;
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_container {
    display: flex;
    flex-direction: column;
  }

  .skills_container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .work_expierence {
    display: flex;
    flex-direction: column;
  }

  .contact_container {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
  }
}
